/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/
h1{
  text-align: center;
}

body{
    padding: 30px;
    background-color: #FFDE7A;
    color: #7A0019;
}

.pslo-courses-container {
  float: left;
  max-width: 48%;
}

.faculty-container {
  float: right;
  max-width: 48%;

}
#faculty-list {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

#Elena, #KK, #Peter, #Nic{
  width: 50%;
}

.card-title {
  font-size: 1.5em;
  margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
  #Peter, #Nic, #KK, #Elena {
    width: 200px;
  }
}

@media only screen and (max-width: 700px) {
  .pslo-courses-container {
    float: none;
    max-width: 100%;
  }
  .faculty-container {
    float: none;
    max-width: 100%;
  }
  #Peter, #Nic, #KK, #Elena {
    width: 50%;
  }
}
