/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/
h1{
  font-size: 4em;
  text-align: center;
}

body{
  padding: 30px;
  margin: 0 auto;
  width: 1250px;
  background-color: #ffffff;
}

.section{
  border: 5px solid black;
  border-radius: 10px;
  background-color: #7A0019;
  color: white;
  padding: 15px;
  max-width: 885px;
  margin: 5px auto;
}

#courses{
  max-width: 325px;
  float: left;
  margin-left: 148px;
  height: 562.812px;
}

#courses li{
  margin: 6px;
}
.faculty-container{
  width: 590px;
  float: left;
}

#faculty-list{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#faculty{
  margin: 5px;
  float: left;
  width: 550px;
}

#validation{
  clear: both;
  position: absolute;
  bottom: -265px;
  left: calc((100% - 925px) / 2);
  width: 925px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: #7A0019;
  color: white;
  padding: 10px;
}

#Elena, #KK, #Peter, #Nic{
  width: 50%;
}
.card-text{
  list-style-type: none;
  clear: both;
}
.card-body{
  text-align: center;
}
.card-text li{
  padding: 5px;
}
.card-text ul{
  display: inline-block;
}
.card-title{
  font-size: 1em;
  margin: 0;
}
