/*
hint:
use # in front of the name of an id from your html page
use . in front of the name of a class of things from your html page
use , to separate a list of things that have some shared css rule
use float to make something locate itself on the right or left

*/
h1{
  font-size: 4em;
  text-align: center;
}

body{
  margin: 0 auto;
  max-width: 925px;
  background-color: #ffffff;
}

.section{
  border: 5px solid black;
  border-radius: 10px;
  background-color: #7A0019;
  color: white;
  padding: 15px;
  max-width: 100%;
  margin: 5px auto;
}

#courses{
  max-width: 32%;
  float: left;
  height: 562.812px;
}

#courses li{
  margin: 6px;
}
.faculty-container{
  width: 63%;
  float: right;
}

#faculty-list{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#faculty{
  float: left;
}

#validation{
  clear: both;
  margin-left: -335px;
  max-width: 925px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: #7A0019;
  color: white;
  padding: 10px;
  text-align: center;
}

#Elena, #KK, #Peter, #Nic{
  width: 50%;
}
.card-text{
  list-style-type: none;
  clear: both;
  padding: 0;
}
.card-body{
  text-align: center;
}
.card-text li{
  padding: 5px;
}
.card-text ul{
  width: 60%;
  margin: auto;
}
.card-title{
  font-size: 1em;
  margin: 0;
}
