body{
  margin: 70px auto 0 auto;
  max-width: 925px;
  background-color: #FFDE7A;
}

h1{
  font-size: 4em;
  text-align: center;
}

h2{
  text-align: center;
}

a{
  color: #FFDE7A;
}

.section{
  border: 5px solid black;
  border-radius: 10px;
  background-color: #7A0019;
  color: white;
  padding: 15px;
  max-width: 100%;
  margin: 5px auto;
}

#courses{
  max-width: 32%;
  float: left;
  min-height: 562.812px;
}

#courses li{
  margin: 6px;
}

.faculty-container{
  width: 63%;
  float: right;
}

#faculty-list{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

#faculty{
  float: left;
}

#Elena, #KK, #Peter, #Nic{
  width: 50%;
}

#validation{
  clear: both;
  margin-left: -342px;
  max-width: 925px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: #7A0019;
  color: white;
  padding: 10px;
  text-align: center;
}

.card-text{
  list-style-type: none;
  clear: both;
  padding: 0;
}
.card-body{
  text-align: center;
}
.card-text li{
  padding: 5px;
}
.card-text ul{
  width: 60%;
  margin: auto;
}
.card-title{
  font-size: 1em;
  margin: 0;
}

#style ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#style li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 18px;
  text-decoration: none;
}

#style li a:hover {
  background-color: #000;
}
#style li{
  float: left;
}
#style {
  position: absolute;
  background-color: #7A0019;
  left: 0;
  right: 0;
  top: 0;
  height: 55px;
}
/* Switch to one column layout */
@media only screen and (max-width: 970px) {
  body{
    width: 90%;
  }
  .pslo-courses-container{
    float: none;
    width: 100%;
  }
  #courses{
    max-width: 100%;
    min-height: 0;
  }
  .faculty-container{
    float: none;
    width: 100%;
  }
  #validation{
    clear: both;
    margin-left: 0;
    max-width: 100%;
    color: white;
    padding: 10px;
    text-align: center;
  }
}
/* Switch to one column layout for professor images */
@media only screen and (max-width: 580px) {
  #Elena, #KK, #Peter, #Nic{
    width: 100%;
    text-align: center;
  }/* Switch to one column layout */
  #faculty-list{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
  #faculty{
  }
}
