body{
  padding: 30px;
  background-color: #FFDE7A;
  color: #7A0019;
}

h1{
  text-align: center;
  font-size: 3em;
}

.pslo-courses-container {
  float: left;
  max-width: 48%;
}
/* We added a margin to the bottom of each pslo element to add spacing to the list, making it take up more room and be more readable */
.pslo {
  margin-bottom: 4%;
}

.faculty-container {
  float: right;
  max-width: 48%;

}
#faculty-list {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

#Elena, #KK, #Peter, #Nic{
  width: 50%;
}

/* We used font-size and margins to make an h6 header look like an h2 header */
.card-title {
  font-size: 1.5em;
  margin: 19.920px auto;
}

/* We used border-botom to place borders on the bottom of each section */
#validation {
  border-bottom: 7px solid #7A0019;
  margin-bottom: 70px; /* space the bottom of the page so that style selection bar does not overlap the content*/
}

.section{
  border-bottom: 7px solid #7A0019;
}

/* Style Selection on bottom of page */
#style ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#style li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 18px;
  text-decoration: none;
}


#style li a:hover {
  background-color: #000;
}
#style li{
  float: left;
}
/*We used a combination of position: fixed and bottom: 0 to stick the stylesheet selection bar at the bottom of the user's browser */
#style {
  position: fixed;
  background-color: #FFDE7A;
  left: 0;
  right: 0;
  bottom: 0;

}

/* Collapse Professors to single column */
@media only screen and (max-width: 1000px) {
  #Peter, #Nic, #KK, #Elena {
    width: 200px;
  }
  #faculty-list {
    padding: 0;
  }
  #Peter, #Nic, #KK, #Elena {
    width: 100%;
    text-align: center;
  }
}

/*Collapse page to single column, expand professors to two columns */
@media only screen and (max-width: 700px) {
  .pslo-courses-container {
    float: none;
    max-width: 100%;
  }
  .faculty-container {
    float: none;
    max-width: 100%;
  }
  #Peter, #Nic, #KK, #Elena {
    width: 50%;
    text-align: center;
  }
  #faculty-list {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
}

/* Collapse Professors to single column again*/
@media only screen and (max-width: 540px) {
  /* We changed the flex-direction from row to column in order to stack the pictures on top of eachother before flexbox would have done it on its own */
  #faculty-list {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
  }
  #Peter, #Nic, #KK, #Elena {
    width: 100%;
    text-align: center;
  }
}
